{% load static %}
{% include "static/django_js_logger/django_js_logger.html" %}
<div class="div" align="center">
    <div class="controls">
      <button id="error" type="button" onclick="error()">Trigger error</button>
    </div>
    <div class="controls">
      <button id="info" type="button" onclick="log()">Trigger console.log</button>
    </div>
</div>

<script>
    function error(){
        const badCode = 'const s;';
        eval(badCode);
    }
    function log(){
        console.log('test')
    }
</script>
